.time-column-container {
  height: 88vh;
  width: 13%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid grey;
  .Time {
    border-bottom: 1px solid grey;
    width: 91%;
    padding: 10px;
  }
}
