.Header-logo {
  display: none;
}

.Header-header {
  background-color: #4c525a;
  height: 6vh;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-title {
  margin-left: 10px;
  font-size: 30px;
  letter-spacing: 1.5px;
}
.header-date {
  display: flex;
  align-items: center;
  font-size: 30px;
  letter-spacing: 1.5px;
  .date {
    width: fit-content;
    height: 100%;
  }
  .day {
    width: fit-content;
    height: 100%;
  }
  .date {
    margin-left: 10px;
  }
  .year {
    height: 100%;
    width: fit-content;
  }
}

.add-task-button {
  border: 3px white outset;
  padding: 10px;
  letter-spacing: 1.5px;
  color: transparent;
  text-shadow: 0 0 0 white;
  text-align: center;
  margin-right: 10px;
}

.add-task-button:hover {
  border: 5px white outset;
  padding: 10px;
  letter-spacing: 1.5px;
  color: transparent;
  text-shadow: 0 0 0 white;
  text-align: center;
  margin-right: 10px;
}
.add-task-button:active {
  border: 3px white inset;
  padding: 10px;
  letter-spacing: 1.5px;
  color: transparent;
  text-shadow: 0 0 0 white;
  text-align: center;
  margin-right: 10px;
}

.fa {
  color: red;
  height: 100%;
}

.fa-arrow-right {
  margin-left: 20px;
}
.fa-arrow-left {
  margin-right: 20px;
}
